:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.box {
  background-color: skyblue;
  border: 6px solid skyblue;
  width: fit-content;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.container {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  width: 25em;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1rem;
  border-radius: 0.4em;
}

.ticket {
  width: 90%;
  height: 3rem;
  border-radius: 0.5em;
  background-color: white;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3rem;
}

.ticket+.ticket {
  margin-top: 1em;
}

.ticket:first-child {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: transparent;
  font-size: 2rem;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: -0.5em;
}

.ticket:first-child>:last-child {
  color: grey;
}

.ticket:last-child {
  background-color: transparent;
  font-size: 2rem;
  padding-left: 0;
  margin-top: 0.5em;
  color: grey;
}



.numbering {
  text-align: center;
  font-size: 4rem;
}

.header-container {
  background-color: rgb(207, 95, 29);
  height: fit-content;
  width: 100%;
}

.header {
  display: flex;
  background-color: rgb(207, 95, 29);
  height: fit-content;
  width: 75%;
  align-items: center;
  padding: 0.3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5em;
}

.header>* {
  width: fit-content;
  margin: auto;
}

.header>:nth-child(n + 3)::before {
  content: '|  '
}

i {
  color: rgb(207, 95, 29);
}

.logo {
  font-size: 3rem;
  border-right: 0.3rem solid white;
  border-left: 0.3rem solid white;
  background-color: white;
  height: fit-content;
}

.header>:nth-child(2) {
  margin-left: 0;
}

.postbody {
  background-color: hsl(0, 33%, 93%);
}

.post-line {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.post-line>* {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  padding: 1rem;
}

.number-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.7rem;
  color: hsl(0, 3%, 23%);
  align-self: flex-start;
}

.triangle {
  display: block;
  border: 0.5rem solid;
  border-color: transparent transparent black transparent;
  margin: 0;
  margin-top: 1.6rem;
  margin-left: -0.7rem;
  padding: 0;
  align-self: flex-start;
}

.post-line--title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.post-line--others {
  color: hsl(0, 3%, 23%);
  align-self: flex-end;
}

.post-line--others::after {
  content: ' |';
  font-weight: bolder;
}